h1{
    text-shadow: 4px 3px 2px rgba(255, 0, 238, 0.5), -4px -3px 2px rgba(255, 0, 238, 0.5);
}
#box1{
    border: 2px solid #353837;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    height: 200px;
    background-color: #d8dfdd;
    margin: 0 auto;
    box-shadow: 10px 10px 5px rgba(50, 48, 48, 0.5);
}